<app-header titulo=""></app-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let subgrupo of subgrupo$ | async">
    <img [src]="subgrupo.foto " *ngIf="subgrupo.foto" (click)="abrirEnlace( subgrupo )">
    <ion-card-header (click)="abrirEnlace( subgrupo )">
      <ion-card-title >{{ subgrupo.titulo }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label> {{ subgrupo.detalle | slice: 0: oculto }}... </ion-label>
      <ion-label color="primary"
                     (click)="oculto = 5000"
                     *ngIf="oculto !== 5000">Leer más!</ion-label>
    </ion-card-content>
  </ion-card>


</ion-content>
