<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nuestras sucursales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item button detail="true" *ngFor="let sucursales of sucursales$ | async" detail-icon="location"
  (click)="abrirEnlace( sucursales.ubicacion )"
  >
    <ion-label>
      <h3>{{sucursales.nombre}}</h3>
      <p><ion-icon name="business"></ion-icon> {{sucursales.direccion}} </p>
      <p><ion-icon name="calendar"></ion-icon> {{sucursales.horarios}} </p>
    </ion-label>
  </ion-item>

  <section>
    <h1>User Profiles</h1>
    <ul>
        <li *ngFor="let servicios of servicios$ | async">
          {{servicios.otro}}
          {{servicios.cortes}}
          
          
          

        </li>
    </ul>
</section>
</ion-content>
