<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nuestras sucursales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item button detail="true" detail-icon="caret-forward-outline"
  (click)="abrirEnlace( '-16.494063, -68.195227' )"
  >
    <ion-label>
      <h3>Sucursal A</h3>
      <p>Avenida Sucre </p>
    </ion-label>
  </ion-item>
  
  <ion-item button detail="true" detail-icon="caret-forward-outline">
    <ion-label>
      <h3>Sucursal B</h3>
      <p>Avenida sucre lado </p>
    </ion-label>
  </ion-item>
    
  <ion-item button detail="true" detail-icon="caret-forward-outline">
    <ion-label>
      <h3>Sucursal C</h3>
      <p>Zona Rio Seco</p>
      <p>Detail icon set to caret-forward-outline</p>
    </ion-label>
  </ion-item>

  
</ion-content>
