<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="person"></ion-icon> Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <ion-row>
    <ion-col>
  <ion-list>
    <ion-item>
      <ion-icon name="person-circle-outline"></ion-icon> &nbsp; 
      <ion-input label="*Nombres y apellidos " labelPlacement="stacked" [(ngModel)]="registro.nombres">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="bookmark-outline"></ion-icon> &nbsp; 
      <ion-input label="*CI: " type="number" [(ngModel)]="registro.ci">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline"></ion-icon> &nbsp; 
      <ion-input label="Celular: " type="number" [(ngModel)]="registro.celular">
    </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar-number-outline"></ion-icon> &nbsp; 
      Fec. de nacimiento: <ion-datetime-button datetime="date" ></ion-datetime-button>
    </ion-item>    
    <ion-item>
      <ion-icon name="business-outline"></ion-icon> &nbsp; 
      <ion-textarea label="Dirección: " [(ngModel)]="registro.direccion">
    </ion-textarea>
    </ion-item>
  </ion-list>
</ion-col>
</ion-row>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <br>
        <ion-button [disabled]="!registro.ci" (click)="guardarPerfil()" expand="block" size="default">
        Guardar mis datos
      </ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>(*) Datos Obligatorios</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
      presentation="date"
      [preferWheel]="true"
      [showDefaultButtons]="true"
      id="date"
      (ionChange)="setDate()" >
    </ion-datetime>
    </ng-template>
  </ion-modal>

</ion-content>
