<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="pricetag-outline"></ion-icon> Promociones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card  *ngFor="let promociones of promociones$ | async">
    <img [src]="promociones.foto " *ngIf="promociones.foto" >
    <ion-card-header>
      <ion-card-title>{{ promociones.titulo }}</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      {{ promociones.detalle }}
    </ion-card-content>
  </ion-card>

</ion-content>
