<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon aria-hidden="true" name="location"></ion-icon> Nuestras sucursales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="/assets/img/ubicacion.JPG">
  <ion-item button detail="true" *ngFor="let sucursales of sucursales$ | async" detail-icon="location"
  (click)="abrirEnlace( sucursales.ubicacion )"
  >
    <ion-label>
      <h3>{{sucursales.nombre}}</h3>
      <p><ion-icon name="business"></ion-icon> {{sucursales.direccion}} </p>
      <p><ion-icon name="calendar"></ion-icon> {{sucursales.horarios}} </p>
    </ion-label>
  </ion-item>

  
</ion-content>
